@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var path = Context.Request.Path;
}
<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from egreetings.gov.in/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Dec 2024 07:44:55 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src https: 'unsafe-eval' 'unsafe-inline'; object-src 'none'"> -->
    <meta itemprop="name" content="Privay Policy | eGreetings Portal" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta itemprop="description" content="Send Greeting Card Online to your friends and loved ones." />
    <meta property="og:image" content="/user/assets/images/greetings-logo.png" ; />
    <meta property="og:image:secure_url" content="/user/assets/images/greetings-logo.png" ; />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:title" content="Privay Policy | eGreetings Portal" />
    <meta property="og:description" content="Send Greeting Card Online to your friends and loved ones." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://egreetingsstaging.nic.in/" ; />
    <title>eGreetings Portal</title>
    <link rel="shortcut icon" href="/user/assets/images/eGreetings_icon.png">
    <link rel="stylesheet" type="text/css" href="/user/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/bs-tags.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/hover-effect.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/slide-show.css" />
    <link rel="stylesheet" type="text/css" href="../cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/user/assets/css/page.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/fonts/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/bootstrap-colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/user/assets/css/winner.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/arch.css" />
    <link rel="stylesheet" type="text/css" href="/sweetalert/sweetalert2.css" />
    <link rel="stylesheet" type="text/css" href="/user/assets/css/manage-dataTable.css" />
    <script type="text/javascript" src="/user/assets/js/modernizr.custom.29473.js"></script>
    <script type="text/javascript" src="/user/assets/js/jquery_3_7_0.min.js"></script>
    <script type="text/javascript" src="/user/assets/js/jssor.slider-22.2.13.min.js"></script>
    <script type="text/javascript" src="/user/assets/js/slider.js"></script>
    <script type="text/javascript" src="/user/assets/js/jquery_3_7_0.js"></script>
    <script type="text/javascript" src="/user/assets/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/user/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/user/assets/js/jquery.accordion.js"></script>
    <script type="text/javascript" src="/user/assets/js/bootstrap-typeahead.js"></script>
</head>


<body>
    <div class="container-flude" style="padding: 0 !important;">
        <div class="overlay-screen"></div>
        <div class="wrapper">
            <!-- Header Start-->
            <header>
                <div class="header_top_area">
                    <div class="container">
                        <div class="header_top_left">
                            <a href="#" title="Government of Vietnam" target="_blank"><span class="govt">GOVERNMENT OF VIETNAM</span></a>
                        </div>
                        <div class="header_top_right">
                            <ul>
                                <li class="twitter"><a href=""><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a href=""><i class="fa fa-facebook"></i></a></li>

                                @if (HttpContextAccessor.HttpContext.Session.GetString("accountName") == null)
                                {
                                    <li class="login"><a href="/home/login"><i class="fa fa-sign-in"></i>&ensp;Login</a></li>
                                    <li class="login"><a href="/home/register"><i class="fa fa-user-o"></i>&ensp;Register</a></li>
                                }
                                else
                                {
                                    <li class="wheel"><a href=""><i class="fa fa-history"></i>&ensp;History</a></li>
                                    <li class="login"><a href=""><i class="fa fa-user-o"></i>&ensp;Hello @HttpContextAccessor.HttpContext.Session.GetString("accountName")</a></li>
                                    <li class="login"><a href="/home/logout"><i class="fa fa-sign-in"></i>&ensp;Logout</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header-2">
                    <div class="container second-header">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6"><div class="greeting-logo"><a href="index.html"><img src="/user/assets/images/greetings-logo.png" alt="eGreetings logo"></a></div></div>
                            <div class="col-md-9 col-sm-6 col-xs-6 main-menu">
                                <nav class="applePie">
                                    <li class="srch mob-sideNav" id="sideNav"><i class="fa fa-bars" onclick="sideNav()"></i></li>
                                    <ul id="nav">
                                        <li class="parent-li nav-1">
                                            <a href="/home/cards/Celebration">celebration</a>
                                            <ul>
                                                @if (ViewBag.Categories != null)
                                                {
                                                    @foreach (var category in ViewBag.Categories)
                                                    {
                                                        @if (category.ParentCategory.ToLower().Equals("celebration"))
                                                        {
                                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="parent-li nav-2">
                                            <a href="/home/cards/Festivals">festivals</a>
                                            <ul>
                                                @if (ViewBag.Categories != null)
                                                {
                                                    @foreach (var category in ViewBag.Categories)
                                                    {
                                                        @if (category.ParentCategory.ToLower().Equals("festivals"))
                                                        {
                                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="parent-li nav-3">
                                            <a href="/home/cards/Glimpses of Vietnam">glimpses of vietnam</a>
                                            <ul>
                                                @if (ViewBag.Categories != null)
                                                {
                                                    @foreach (var category in ViewBag.Categories)
                                                    {
                                                        @if (category.ParentCategory.ToLower().Equals("glimpses of vietnam"))
                                                        {
                                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="parent-li nav-4">
                                            <a href="/home/cards/Heritage">heritage</a>
                                            <ul>
                                                @if (ViewBag.Categories != null)
                                                {
                                                    @foreach (var category in ViewBag.Categories)
                                                    {
                                                        @if (category.ParentCategory.ToLower().Equals("heritage"))
                                                        {
                                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="parent-li nav-5">
                                            <a href="/home/cards/Ministry">ministry</a>
                                            <ul>
                                                @if (ViewBag.Categories != null)
                                                {
                                                    @foreach (var category in ViewBag.Categories)
                                                    {
                                                        @if (category.ParentCategory.ToLower().Equals("ministry"))
                                                        {
                                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="parent-li nav-6">
                                            <a href="/home/cards/Miscellaneous">miscellaneous</a>
                                            <ul>
                                                @if (ViewBag.Categories != null)
                                                {
                                                    @foreach (var category in ViewBag.Categories)
                                                    {
                                                        @if (category.ParentCategory.ToLower().Equals("miscellaneous"))
                                                        {
                                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                        <li class="srch" id="srch"><i class="fa fa-search"></i></li>
                                        <li class="srch" id="sideNav"><i class="fa fa-bars" onclick="sideNav()"></i></li>
                                    </ul>
                                    <!-- <ul>
                                       <li><span><i class="fa fa-search" aria-hidden="true"></i></span></li>
                                    </ul> -->
                                </nav>
                            </div>
                        </div>
                        <form asp-action="Search">
                            <div class="search_area" id="srchData">
                                <input type="text" class="form-control" id="searchCat" name="cardName" placeholder="Search Here">
                                <button type="submit">
                                    <i class="glyphicon glyphicon-search" style="margin-right: 10px; float: right; margin-top: -25px;"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 3.0 -->
            </header>
            <div class="side-header">
                <i class="fa fa-times" id="closeNav"></i>
                <div class="side-bar">
                    <ul class="side-nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/home/about">About eGreetings</a></li>
                        <li><a href="/home/contact?path=/home/contact">Feedback</a></li>
                    </ul>
                    <ul class="side-name-2">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/home/cards/Celebration">Celebration</a>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.Categories != null)
                                {
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.ParentCategory.ToLower().Equals("celebration"))
                                        {
                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/home/cards/Festivals">festivals</a>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.Categories != null)
                                {
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.ParentCategory.ToLower().Equals("festivals"))
                                        {
                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/home/cards/Glimpses of Vietnam">glimpses of vietnam</a>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.Categories != null)
                                {
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.ParentCategory.ToLower().Equals("glimpses of vietnam"))
                                        {
                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/home/cards/Heritage">heritage</a>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.Categories != null)
                                {
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.ParentCategory.ToLower().Equals("heritage"))
                                        {
                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/home/cards/Ministry">ministry</a>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.Categories != null)
                                {
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.ParentCategory.ToLower().Equals("ministry"))
                                        {
                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="/home/cards/Miscellaneous">miscellaneous</a>
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.Categories != null)
                                {
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        @if (category.ParentCategory.ToLower().Equals("miscellaneous"))
                                        {
                                            <li><a href="/home/cards/@category.ParentCategory?categoryId=@category.CategoryId">@category.CategoryName</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header End-->
            <div class="clearfix"></div>
            <!-- Menu Start-->
            <!-- Menu End-->
            <div class="clearfix"></div>
            <!-- Slideshow Start-->
            <div id="bannerCarousel" class="carousel slide" data-interval="5000" data-ride="carousel" style="padding:0px;">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row banner">
                            <div class="col-md-8 col-sm-8" style="margin-bottom: 4px;">
                                <a href="cards-Guru%2bNanak%2bGurpurab-62.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                    <img data-u="caption" data-t="0" src="/user/assets/home-slider/GURUPURAB_BANNER_1.png" />
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12">
                                    <a href="cards-Guru%2bNanak%2bGurpurab-62.html" title="Click here to send eCards." i alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="1" src="/user/assets/home-slider/GURUPURAB_BANNER_2.png" />
                                    </a>
                                </div>
                                <div class="col-md-12" style="margin-top: 4px;">
                                    <a href="cards-Guru%2bNanak%2bGurpurab-62.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="2" src="/user/assets/home-slider/GURUPURAB_BANNER_3.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row banner">
                            <div class="col-md-8 col-sm-8" style="margin-bottom: 4px;">
                                <a href="cards-Retirement-98.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                    <img data-u="caption" data-t="0" src="/user/assets/home-slider/Retirement_home_page_banner-1_2021.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12">
                                    <a href="cards-Retirement-98.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="1" src="/user/assets/home-slider/Retirement_home_page_banner_3_2021.jpg" />
                                    </a>
                                </div>
                                <div class="col-md-12" style="margin-top: 4px;">
                                    <a href="cards-Retirement-98.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="2" src="/user/assets/home-slider/Retirement_home_page_banner-2_2021.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row banner">
                            <div class="col-md-8 col-sm-8" style="margin-bottom: 4px;">
                                <a href="cards-Thank%2bYou-81.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                    <img data-u="caption" data-t="0" src="/user/assets/home-slider/thankyou_banner_01_2021.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12">
                                    <a href="cards-Thank%2bYou-81.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="1" src="/user/assets/home-slider/thank-you_home_page_banner_3_2021.jpg" />
                                    </a>
                                </div>
                                <div class="col-md-12" style="margin-top: 4px;">
                                    <a href="cards-Thank%2bYou-81.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="2" src="/user/assets/home-slider/thank_you_banner_2_2021.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row banner">
                            <div class="col-md-8 col-sm-8" style="margin-bottom: 4px;">
                                <a href="cards-Work%2bAnniversary-99.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                    <img data-u="caption" data-t="0" src="/user/assets/home-slider/work-anniversary_home_page_banner-1_2021.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12">
                                    <a href="cards-Work%2bAnniversary-99.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="1" src="/user/assets/home-slider/work-anniversary_home_page_banner_3_2021.jpg" />
                                    </a>
                                </div>
                                <div class="col-md-12" style="margin-top: 4px;">
                                    <a href="cards-Work%2bAnniversary-99.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="2" src="/user/assets/home-slider/work-anniversary_home_page_banner-2_2021.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row banner">
                            <div class="col-md-8 col-sm-8" style="margin-bottom: 4px;">
                                <a href="cards-Birthday-83.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                    <img data-u="caption" data-t="0" src="/user/assets/home-slider/HappyBirthday_home_page_banner-1_2021.jpg" />
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="col-md-12">
                                    <a href="cards-Birthday-83.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="1" src="/user/assets/home-slider/HappyBirthday_home_page_banner_3_2021.jpg" />
                                    </a>
                                </div>
                                <div class="col-md-12" style="margin-top: 4px;">
                                    <a href="cards-Birthday-83.html" title="Click here to send eCards." alt="eGreetings Portal | Festival banner">
                                        <img data-u="caption" data-t="2" src="/user/assets/home-slider/HappyBirthday_home_page_banner-2_2021.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control left-icon" href="#bannerCarousel" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control right-icon" href="#bannerCarousel" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Bullet Navigator -->
            <!-- Arrow Navigator -->
            <!-- <span data-u="arrowleft" class="jssora22l" style="top:0px;left:10px;width:40px;height:58px;" data-autocenter="2"></span>
               <span data-u="arrowright" class="jssora22r" style="top:0px;right:10px;width:40px;height:58px;" data-autocenter="2"></span> -->
        </div>
        <!-- Slideshow End-->
        <div class="clearfix"></div>
        <!-- Send Greeting Card start-->
        <div class="send_greeting_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 send-step">
                        <div class="col-md-2" style="float-left">
                            <img src="/user/assets/home-images/4-steps.png">
                        </div>
                        <div class="col-md-10" style="float-right">
                            <h1>Send Greeting Card</h1>
                            <p>Online to your friends and loved ones by 4 simple steps.</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 steps">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <span class="btn_box_img">
                                    <figure><img src="/user/assets/home-images/l-r-icon.svg" /></figure>
                                </span>
                                Login / Register
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <span class="btn_box_img">
                                    <figure><img src="/user/assets/home-images/select_card.svg" /></figure>
                                </span>
                                Select a Card
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <span class="btn_box_img">
                                    <figure><img src="/user/assets/home-images/select_message.svg" /></figure>
                                </span>
                                Select a Message
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <span class="btn_box_img">
                                    <figure><img src="/user/assets/home-images/personalize.svg" /></figure>
                                </span>
                                Personalize
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Send Greeting Card End-->
        <!-- upload gif and send card section start-->
        <!-- upload gif and send card section end-->
        <!-- Start :: Upcomming Festival eCards by gaurav-->
        @* <div class="upcoming_festival_cards_section">
            <div class="container">
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="upcoming_fest_head text-center">
                            <span><img src="/user/assets/home-images/diya-lamp.svg"></span>
                            <h4>Upcomming Festival  eCards</h4>
                            <p>Choose a Card and Send to your Dear Ones</p>
                        </div>
                        <div class="fev-collection">
                            <div class="carousel slide media-carousel " id="media">
                                <div class="carousel-inner">
                                    <div class="item  active">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12 col-lg-3 col-md-3">
                                                <div class="col-item">
                                                    <div class="photo-1">
                                                        <a href="customize-sdd-457.html">
                                                            <img class="img-responsive img-portfolio img-hover" src="/user/assets/uploadedgreeting/20090416123026logFile.jpg" alt="sdd">
                                                        </a>
                                                    </div>
                                                    <div class="info">
                                                        <div class="infomiddle">
                                                            <h2>sdd</h2>
                                                            <span class="info-left">
                                                                <a href="/edit-card"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit this card</a>
                                                            </span>
                                                            <span class="info-right shareModal-pointer" data-toggle="modal" data-target="#shareModal" onclick="setCardId('457','sdd')"><img src="/user/assets/home-images/share1.png"></span>
                                                        </div>
                                                        <a href="customize-sdd-457.html">
                                                            <div class="btn_area">
                                                                <span class="cstmbtn">
                                                                    <i class="fa fa-paper-plane-o"></i>&ensp;
                                                                    Send eCard
                                                                </span>
                                                            </div>
                                                        </a>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- item end-->
                                </div>
                                <a data-slide="prev" href="#media" class="left carousel-control"><</a>
                                <a data-slide="next" href="#media" class="right carousel-control">></a>
                                <div class="col-md-12 ">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2 viewmore">
                                        <a href="cards--.html">
                                            <button class="viewmorebtn center-block">All Cards</button>
                                        </a>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
    </div>
    <!-- End :: Upcomming Festival eCards-->
    <!-- Start :: Recent Festival  eCards by gaurav-->
    <div class="recent_festival_cards_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="upcoming_fest_head text-center">
                        <span><img src="/user/assets/home-images/durga1.png"></span>
                        <h4>Recent Festival  eCards</h4>
                        <p>Choose a Card and Send to your Dear Ones</p>
                    </div>
                </div>
                <div class="fev-collection">
                    @if(ViewBag.NewCards != null)
                    {
                        foreach(var card in ViewBag.NewCards)
                        {
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="col-item">
                                    <div class="photo">
                                        <img class="img-responsive img-portfolio img-hover" src="/images/card/@card.Image" alt="@card.Image">
                                    </div>
                                    <div class="info">
                                        <div class="infomiddle">
                                            <h2>@card.CardName</h2>
                                            <span class="info-left">
                                                <a href="/home/edit-card/@card.CardId?path=/home/edit-card/@card.CardId">Edit card</a>
                                            </span>
                                            <span class="info-right shareModal-pointer" data-toggle="modal" data-target="#shareModal" onclick="setCardId('3772','Diwali_1')"><img src="/user/assets/home-images/share1.png"></span>
                                        </div>
                                        <a href="/home/sendcard/@card.CardId?path=/home/SendCard/@card.CardId">
                                            <div class="btn_area">
                                                <span class="cstmbtn">
                                                    <i class="fa fa-paper-plane-o"></i>&ensp;
                                                    Send eCard
                                                </span>
                                            </div>
                                        </a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-12 ">
                    <div class="col-md-5"></div>
                    <div class="col-md-2 viewmore">
                        <a href="/home/search">
                            <button class="viewmorebtn center-block">More</button>
                        </a>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End :: Recent Festival  eCards-->
    <!-- start :: Festive Calendar-->
    <div class="festive_calender_section">
        <div class="festive-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="festive_heading text-center">
                            <span><img src="/user/assets/home-images/festival_calender_icon.svg"></span>
                            <h4>Festive Calendar</h4>
                            <p>List of Vietnam Festivals and Holidays in the year 2024</p>
                        </div>
                    </div>
                    <div class="festive-collection">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end :: Festive Calendar-->
    <!-- Most Popular Cards End-->
    <!-- E-greeting design Start -->
    <div class="row">
        <div class="conatiner">
            <!-- E-greeting Box Start -->
            <div class="col-md-12">
                <div class="winner_home_link" id="style-5">
                    <div class="text-center award_main_head"><img src="/user/assets/home-images/award_head.svg" /></div>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner text-center">
                            <div class="item active">
                                <div class="award_heading">New Year</div>                              <ul class="award-ul"><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Rahul Singh</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>SK Jakib</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Saumya Agnihotri</span></div></li></ul>
                            </div>                           <div class="item ">
                                <div class="award_heading">Maha Shivratri</div>                              <ul class="award-ul"><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Vimarsh Bhatt</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Mugdha Rathore</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Ketan Krishnakant Tulsulkar</span></div></li></ul>
                            </div>                           <div class="item ">
                                <div class="award_heading">Republic Day</div>                              <ul class="award-ul"><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>kamlesh patel_16</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Jai Prakash Rawani</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Laxmikant Jain</span></div></li></ul>
                            </div>                           <div class="item ">
                                <div class="award_heading">Holi</div>                              <ul class="award-ul"><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Devyang Pandya</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Somnath Chatterjee</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Ruchi Mishra</span></div></li></ul>
                            </div>                           <div class="item ">
                                <div class="award_heading">Ram Navami</div>                              <ul class="award-ul"><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Vashistha</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Suhas Dhuri</span></div></li><li><div class="text-center"><img src="/user/assets/home-images/award.png">&ensp;<span>Sikkandar Moideen</span></div></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- E-greeting design End -->
        <!-- Count Area Strat -->
        <div class="count_area">
            <div class="container">
                <div class="col-md-4">
                    <div class="count_area_point text-center">
                        <span class="counter-point">2266</span>
                        <span class="greet_msg">Greeting Cards</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="count_area_point text-center">
                        <span class="counter-point">48+</span>
                        <span class="greet_msg">Categories</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="count_area_point text-center">
                        <span class="counter-point">68637109+</span>
                        <span class="greet_msg">Greeting Sent</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Count Area End -->
        <div class="clearfix"></div>
        <div class="social_media_area">
            <div class="container">
                <h1 class="keep-update text-center"><b>Keep</b> up to date on the <b>latest news</b>.</h1>
                <div class="subscribe col-md-offset-2">
                    <form class="form-inline" id="eSubscriber" autocomplete="off">
                        <div class="col-md-2 text-center">
                            <img src="/user/assets/home-images/email_icon.svg">
                        </div>
                        <div class="col-md-5 sub-input">
                            <input type="email" class="form-control enter-form-control" id="subseGrt" name="emailSubs" placeholder="Enter Your E-mail Id">
                            <input type="hidden" name="csrf_token_subscribe" value="31888814903504664586834570063707" />
                        </div>
                        <div class="col-md-2 sub-btn">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </div>
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 style="text-align:center;" class="modal-title">Thanks For Subscribing</h4>
                            </div>
                            <div class="modal-body">
                                <p>You are successfully subscribed. Please Check your entered E-mail Address (<code style="font-weight:bold;"></code>) and click on the verify link.</p>
                            </div>
                            <div id="response_prof_trying"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" autofocus>Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center bottom-link">
                    <ul class="nav-bottom">
                        <li class="nav-1">
                            <a href="#">Celebration</a>
                        </li>
                        <li class="nav-2">
                            <a href="#">Festivals</a>
                        </li>
                        <li class="nav-3">
                            <a href="#">Glimpses of India</a>
                        </li>
                        <li class="nav-4">
                            <a href="#">Heritage</a>
                        </li>
                        <li class="nav-5">
                            <a href="#">Ministry</a>
                        </li>
                        <li class="nav-6">
                            <a href="#">MISCELLANEOUS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.container -->
        <!-- popup window Start-->
        <div class="container">
            <div class="modal fade modal-width" id="shareModal">
                <div class="modal-dialog modal-dialog-width">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Share Card</h4>
                        </div>
                        <div class="social_login modal-body">
                            <div class="">
                                <a href="#" class="social_box fb">
                                    <span class="icon"><i class="fa fa-facebook"></i></span>
                                    <span class="icon_title">Share on Facebook</span>
                                </a>
                                <a href="#" class="social_box google">
                                    <span class="icon"><i class="fa fa-twitter"></i></span>
                                    <span class="icon_title">Share on Twitter</span>
                                </a>
                                <!--
                                                  <a href="#" class="social_box whatsapp" onclick="whatsAppCurrentPage()">
                                                  <span class="icon"><i class="fa fa-whatsapp"></i></span>
                                                  <span class="icon_title">Share on WhatsApp</span>
                                                  </a>                 -->
                                <!--<a href="#" class="social_box google" onclick="googleCurrentPage()">
                                   <span class="icon"><i class="fa fa-google-plus"></i></span>
                                   <span class="icon_title">Share on Google</span>
                                   </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- popup window End-->
        <!-- gif popup instruction start -->
        <div id="slide_open" class="modal fade" role="dialog">
            @RenderBody()
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Terms and Conditions</h4>
                    </div>
                    <div class="modal-body">
                        <p>1. File must be in GIF format only.</p>
                        <p>2. file does not exceed more than 2 MB file</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="button red btn-block red_submit" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- gif popup instruction end -->
        <script>
            var card_id = '';
            function setCardId(grt_id, cat_nm) {
                card_id = grt_id; card_name = cat_nm
            }
            function fbshareCurrentPage() {
                var m = card_id; var n = card_name;
                var url = "https://https://egreetings.gov.in/customize-" + card_name + "-" + card_id + ".html"; url = url.replace(/ /g, "%20");
                window.open("https://www.facebook.com/sharer/sharer.php?u=" + escape(url) + "&t=" + document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;
            }

            function tweetCurrentPage() {
                var m = card_id; var n = card_name;
                var url = "https://https://egreetings.gov.in/customize-" + card_name + "-" + card_id + ".html"; url = url.replace(/ /g, "%20");
                window.open("https://twitter.com/share?url=" + escape(url) + "&text=" + document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600'); return false;
            }

            function googleCurrentPage() {
                var m = card_id; var n = card_name;
                var url1 = "https://https://egreetings.gov.in/customize-" + card_name + "-" + card_id + ".html"; url1 = url1.replace(/ /g, "%20");
                var url = "https://plus.google.com/share?url=" + url1;
                window.open(url, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600'); return false;
            }

            function whatsAppCurrentPage() {
                var m = card_id; var n = card_name;
                var url = "https://https://egreetings.gov.in/customize-" + card_name + "-" + card_id + ".html"; url = url.replace(/ /g, "%20");
                window.open("https://api.whatsapp.com/send?text=" + escape(url), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');
                return false;
                window.open(url, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600'); return false;
            }
        </script>
        <script async src="../platform.twitter.com/widgets.js" charset="utf-8" type="text/javascript"></script>
        <!-- Footer Area Start-->
        <div class="footer_area_main">
            <div class="footer_area">
                <div class="container">
                    <div class="col-md-4">
                        <div class="block-block">
                            <div class="content">
                                <a href="http://www.nic.in/" target="_blank" title="NIC Logo" alt="NIC Logo">
                                    <img src="/user/assets/images/nic_logo.png" title="" alt="NIC Logo">
                                </a>
                            </div>
                        </div>
                        <div class="designed-by">
                            <p>
                                &copy; Designed, developed and hosted by <a href="http://www.nic.in/" style="color:#abaeb5;cursor:pointer;" target="_blank"><strong style="text-decoration:underline; font-weight:normal;">National Informatics Centre</strong></a> Ministry of Electronics & Information Technology
                                Government of India. (74)
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer_block_one">
                            <ul>
                                <li><a href="/home">Home</a></li>
                                <li><a href="/home/about">About Us</a></li>
                                <li><a href="/home/login">Login</a></li>
                                <li><a href="#">Winners</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="/home/terms">Terms & Conditions</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="/home/contact?path=/home/contact">Contact Us</a></li>
                                <li><a href="#" target="_blank">User Manual</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text_area">
                            <h4 class="follow-us">Follow Us</h4>
                            <ul class="social-icon">
                                <li class="twitter"><a href="https://www.twitter.com/NICMeity" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li class="facebook"><a href="https://www.facebook.com/NICIndia" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li class="facebook"><a href="https://www.linkedin.com/company/national-informatics-centre/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer middle Start-->
            <div class="footer_middle">
                <a class="ad_img trans ext" href="https://transformingindia.mygov.in/" title="Journey of Transforming India
         ( External Site that opens in a new window)" target="_blank">
                    Transforming India
                    <span class="ext"><span class="element-invisible"> </span></span>
                </a>
                <!--<a class="ad_img news" href="https://newsletter.mygov.in/" title="Newsletter( External Site that opens in a new window)" target="_blank">  Newsletter<span class="ext"><span class="element-invisible"> </span></span></a>-->
                <a class="ad_img blog" href="https://blog.mygov.in/" title="blog( External Site that opens in a new window)" target="_blank">  blog<span class="ext"><span class="element-invisible"> </span></span></a>
                <a class="ad_img invoo" href="https://innovate.mygov.in/" title="Innovate( External Site that opens in a new window)" target="_blank">  innovate<span class="ext"><span class="element-invisible"> </span></span></a>
                <a class="ad_img s_bharat" href="https://swachhbharat.mygov.in/" title="Swachh Bharat( External Site that opens in a new window)" target="_blank">Swachh Bharat<span class="ext"><span class="element-invisible"> </span></span></a>
            </div>
            <!-- Footer middle End-->
            <!-- Footer bottom Start-->
            <div class="footer_bottom">
                <a class="ad_img di ext" href="http://www.digitalindia.gov.in/" title="Digital India( External Site that opens in a new window)" target="_blank">  Digital India<span class="ext"><span class="element-invisible"> </span></span></a>
                <a class="ad_img data ext" href="http://data.gov.in/" title="Data Portal (External Site that opens in a new window)" target="_blank">
                    Data Portal
                    <span class="ext"><span class="element-invisible"> </span></span>
                </a>
                <a class="ad_img npi ext" href="http://india.gov.in/" title="NPI (External Site that opens in a new window)" target="_blank">NPI<span class="ext"> <span class="element-invisible"> </span></span></a>
                <a class="ad_img deity ext" href="http://meity.gov.in/" title="MeitY (External Site that opens in a new window)" target="_blank">MeitY<span class="ext"><span class="element-invisible"> </span></span></a>
                <a class="ad_img pm ext" href="http://pmindia.gov.in/" title="PM INDIA (External Site that opens in a new window)" target="_blank">PM INDIA<span class="ext"><span class="element-invisible"> </span></span></a>
                <a class="ad_img sampark ext" href="https://sampark.gov.in/Sampark/" title="sampark (External Site that opens in a new window)" target="_blank">esampark<span class="ext"><span class="element-invisible"> </span></span></a>
                <a class="ad_img mygov ext" href="https://www.mygov.in/" title="MyGov (External Site that opens in a new window)" target="_blank">MyGov<span class="ext"><span class="element-invisible"> </span></span></a>
            </div>
        </div>
    </div>
    </div>
    <!-- Footer bottom End-->
    <!-- Footer Area End-->

    <script src="/user/assets/js/html5shiv.js" type="text/javascript"></script>
    <script src="/user/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/user/assets/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript" src="/user/assets/js/popupoverlay.js"></script>
    <script type="text/javascript" src="/user/assets/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" language="javascript" src="/user/assets/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="/user/assets/js/dataTables.bootstrap.min.js"></script>
    <script src="/user/assets/js/custom_js.js" type="text/javascript"></script>
    <script src="/user/assets/js/newjs.js" type="text/javascript"></script>
    <script src="/user/assets/js/bootstrap-tagsinput.js" type="text/javascript"></script>
    <script src="/sweetalert/sweetalert2.min.js" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                title: 'Congratulation!',
                text: '@TempData["Success"]',
                icon: 'Success', 
                confirmButtonText: 'OK'
            });
        </script>
        TempData.Clear();
    }
</body>

<!-- Mirrored from egreetings.gov.in/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Dec 2024 07:45:07 GMT -->
</html>