@model IEnumerable<E_project.Models.TransactionDetail>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DestinationEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaction.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
